node_modules
downloads
Workspaces
Models
frontend
build
bin
dist
uv.lock 
pnpm-lock.yaml
__pycache__
.cache
.python-version
.env
.venv
.browser_profile
.backup
.pnpm-store/
.env
.env.local
python/config.json